<div fxLayout="row" fxLayoutWrap>
    <div class="column" fxFlex="30" fxFlex.lt-sm="30" fxFlex.sm="30">
        <img src="assets/icons/avatars/5.jpg">
    </div>
    <div class="column" fxFlex="70" fxFlex.lt-sm="70" fxFlex.sm="70">
        <p><strong>{{ this.trend.happiness1 }}%</strong> are feeling awesome</p>
    </div>
</div>

<div fxLayout="row" fxLayoutWrap>
    <div class="column" fxFlex="30" fxFlex.lt-sm="30" fxFlex.sm="30">
        <img src="assets/icons/avatars/4.jpg">
    </div>
    <div class="column" fxFlex="70" fxFlex.lt-sm="70" fxFlex.sm="70">
        <p><strong>{{ this.trend.happiness2 }}%</strong> are feeling happy</p>
    </div>
</div>

<div fxLayout="row" fxLayoutWrap>
    <div class="column" fxFlex="30" fxFlex.lt-sm="30" fxFlex.sm="30">
        <img src="assets/icons/avatars/3.jpg">
    </div>
    <div class="column" fxFlex="70" fxFlex.lt-sm="70" fxFlex.sm="70">
        <p><strong>{{ this.trend.happiness3 }}%</strong> are feeling neutral</p>
    </div>
</div>

<div fxLayout="row" fxLayoutWrap>
    <div class="column" fxFlex="30" fxFlex.lt-sm="30" fxFlex.sm="30">
        <img src="assets/icons/avatars/2.jpg">
    </div>
    <div class="column" fxFlex="70" fxFlex.lt-sm="70" fxFlex.sm="70">
        <p><strong>{{ this.trend.happiness4 }}%</strong> are feeling sad</p>
    </div>
</div>

<div fxLayout="row" fxLayoutWrap>
    <div class="column" fxFlex="30" fxFlex.lt-sm="30" fxFlex.sm="30">
        <img src="assets/icons/avatars/1.jpg">
    </div>
    <div class="column" fxFlex="70" fxFlex.lt-sm="70" fxFlex.sm="70">
        <p><strong>{{ this.trend.happiness5 }}%</strong> are feeling awful</p>
    </div>
</div>